
p {
  margin: 0px;
  padding: 0px;
  font-size: 14px; }

#outer-wrap {
  width: 100%;
  margin-bottom: 4em; }

#inner-wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 700px; }

#header {
  padding: 10px 0 10px 0;
  font-size: 50px;
  color: #111;
}

.nav {
  font-size: 18px;
}

.nav li {
  width: 60px;
  text-align: center;
}

.nav li a {
    -webkit-transition: 0.25s ease-out !important;
  -moz-transition: 0.25s ease-out !important;
  -o-transition: 0.25s ease-out !important;
  transition: 0.25s ease-out !important;
  -webkit-backface-visibility: hidden !;
}




.nav li a {

}

#byline {
  color: #111 !important;
  padding: 0 0 20px 0;
}

.borrow-form {
  border: 1px solid #303030;
  padding: 25px 0;
  margin: 0 auto;
  position: relative;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 30px;
  text-align: left; }

.control-input {
  border-bottom: 1px dotted #c0c0c0;
  margin-bottom: 1em; }

label {
  width: 200px;
  display: block;
  text-transform: uppercase;
  /* font-size: 10px; */
  padding-bottom: .5em; }

input:focus, textarea:focus {
    outline: 0;
}

input[type='text'],
input[type='email'] {
  padding: 0px;
  margin: 0px;
  border: none;
}

input:focus {
  border-bottom: 2px solid black;
}

#submit {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.p-key-item-group {
  white-space: nowrap;
}

.p-key-item,
.p-key-item-light {
  color: #428bca;
}

input.p-key-item,
input.p-key-item-light {
  display: inline-block;
}

.p-key-item {
  font-weight: bold;
}

.p-key-item-light {
  font-weight: normal;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #CCC;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #CCC;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #CCC;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #CCC;
}

.text-light {
  color: #AAA;
}

.text-big {
  font-size: 35px;
}

.text-small {
  font-size: 12px;
}

.text-positive,
.text-neutral,
.text-negative {
  font-weight:  bold;
}

.text-positive {
  color: #46D846;
}

.text-neutral {
  color: orange;
}

.text-negative {
  color: #FF307B;
}

/* Included for Angular's ngCloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

// ==========================================
// TRANSITIONS
// ==========================================
input, .nav, .nav *, * {
  -webkit-transition: 0.25s ease-out !important;
  -moz-transition: 0.25s ease-out !important;
  -o-transition: 0.25s ease-out !important;
  transition: 0.25s ease-out !important;
  -webkit-backface-visibility: hidden !;
}

@media screen and (min-width: 640px) { 

  #header {
    padding: 50px 0 10px 0;
  }
  #submit {
    width: 100px;
    margin: 0 auto;
    position: relative;
  }

  .nav {
    font-size: 24px;
  }

}
