<%= include indexHeader %>
    <%= include header %>
        <div id="content" ng-controller='Agreement' ng-init="agreementData=<%= data.agreement %>">

            <div id="main" class="bg-grey set-left"> 

                <div class="borrow-form" ng-cloak>
					I, 

					<span class='p-key-item'>{{ agreementData.initiatorFirstName }}</span> 
					<span class='p-key-item-group'>
						<span class='p-key-item'>{{ agreementData.initiatorLastName }}</span>,
					</span> 

					<span ng-switch='agreementData.type'>
						<span ng-switch-when='payment'>
							owe 
							<span class='p-key-item'>${{ agreementData.amount|number }}</span> to
						</span>
						<span ng-switch-when='product'>
							am borrowing 
							<span class='p-key-item'>{{ agreementData.item }}</span> from
						</span>
						<span ng-switch-when='service'>
							am agreeing to 
							<span class='p-key-item'>{{ agreementData.service }}</span> for
						</span> 
						<span ng-switch-when='appointment'>
							am agreeing to 
							<span class='p-key-item'>{{ agreementData.activity }}</span> with
						</span> 
					</span>
					
					<span class='p-key-item'>{{ agreementData.recipientFirstName }}</span> 
					<span class='p-key-item'>{{ agreementData.recipientLastName }}</span> 

					<span ng-switch='agreementData.type'>
						<span ng-switch-when='payment'>
							and promise to pay them within 
						</span>
						<span ng-switch-when='product'>
							and promise to return it to them within 
						</span>
						<span ng-switch-when='service'>
							and promise to do so within 
						</span> 
						<span ng-switch-when='appointment'>
							and promise to do so within 
						</span> 
					</span>

					<span class='p-key-item'>{{ agreementData.dueDate|daysToGo }}</span> 

					{{ agreementData.dueDate|daysToGo|pluralizeDays }}.

					<br/><br/>

					<span ng-switch='agreementData.confirmationStatus'>
						<span ng-switch-when='fulfilled' class='text-positive'>
							This promise was fulfilled {{ agreementData.fulfillmentDate|daysAgo }} {{ agreementData.fulfillmentDate|daysAgo|pluralizeDays }} ago!
						</span>
						<span ng-switch-when='overdue' class='text-negative'>
							Promise overdue by {{ agreementData.dueDate|daysAgo }} {{ agreementData.dueDate|daysAgo|pluralizeDays }}! 
						</span>
					</span>

					<br/>

					<p class='text-light text-small'>This promise was created by {{ agreementData.initiatorEmail }} & {{ agreementData.recipientEmail }} {{ agreementData.confirmationDate|timeAgo}}.</p>

                </div>

            </div><!-- /#main -->


            <div id="aside" class="bg-grey set-right "></div><!-- /#aside -->

        </div><!-- /#content -->   

        <div id="footer"></div><!-- /#footer -->
<%= include indexFooter %>
