<%= include indexHeader %>
    <%= include header %>
        <div id="content" ng-controller='Agreement' ng-init="agreementData=<%= data.agreement %>">

            <div id="main" class="bg-grey set-left"> 

                <div class="borrow-form" ng-bind-html-unsafe='agreement'></div>

            </div><!-- /#main -->


            <div id="aside" class="bg-grey set-right "></div><!-- /#aside -->

        </div><!-- /#content -->   

        <div id="footer"></div><!-- /#footer -->
<%= include indexFooter %>
