<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Promiser</title>
</head>
<body>
	
	This is the message that follows the submission of the promise.
	It will ask the owner to check the email and confirm.

</body>
</html>
