<%= include indexHeader %>
    <%= include header %>
        <div id="content" ng-controller='Index'>

            <div id="main" class="bg-grey set-left"> 

                <ul class="nav nav-pills">
                    <li ng-repeat='option in options' ng-class="{'active': option.active}" ng-click='chooseOption($index)'>
                        <a href="#"><i class='{{ option.icon }}'></i></a>
                    </li>
                </ul>        

                <div class="borrow-form" ng-bind-html-unsafe='currentForm'></div>

            </div><!-- /#main -->


            <div id="aside" class="bg-grey set-right "></div><!-- /#aside -->

        </div><!-- /#content -->   

        <div id="footer"></div><!-- /#footer -->
<%= include indexFooter %>