<%= include indexHeader %>
    <%= include header %>
        <div id="content" ng-controller='Index'>

            <div id="main" class="bg-grey set-left" ng-switch='message.name' ng-cloak> 
                <div ng-switch-when='message'>
                    <div class="borrow-form">
                        <span ng-show='message.headline' class='text-{{ message.status }} text-big'>{{ message.headline }}</span><br/>
                        <span ng-show='message.message' class='text-light'>{{ message.message }}</span>
                    </div>
                </div>
                <div ng-switch-default>
                    <ul class="nav nav-pills">
                        <li style='margin-left: 2px;' ng-repeat='option in options' ng-class="{'active': option.active}" tooltip-html-unsafe='{{ option.message }}' tooltip-placement='top' tooltip-popup-delay='500'>
                            <a href='' ng-href='/{{ option.name }}'><i class='{{ option.icon }}'></i></a>
                        </li>
                    </ul>        

                    <div class="borrow-form" ng-switch='currentOption.name' ng-cloak>
                        <div ng-switch-when='intro'>
                            <b>1.</b> Choose promise type above<br/>
                            <b>2.</b> Fill out the form & submit<br/>
                            <b>3.</b> Confirm your email
                            <br/><br/>
                            <span class='text-light'><b>& that's it</b> - once the recipient of the promises accepts, we'll take care of rest and remind you both when the due date approaches.</span>
                        </div>
                        <div ng-switch-default p-input-cloak>
                            <form name='promise' ng-submit='submit(form)' novalidate>
                                <input type='hidden' name='type' ng-model='$parent.form.type' ng-init='$parent.$parent.form.type=currentOption.name' value='{{ currentOption.name }}' required />I, 
                                
                                <input p-input ng-trim='false' class='p-key-item' name='initiatorFirstName' ng-model='$parent.$parent.form.initiatorFirstName' placeholder='your first' type='text' required />
                                <input p-input ng-trim='false' class='p-key-item' name='initiatorLastName' ng-model='$parent.$parent.form.initiatorLastName' placeholder='& last name' type='text' required />
                                
                                <span class='p-key-item-group'>
                                    (<input p-input ng-trim='false' class='p-key-item-light' name='initiatorEmail' ng-model='$parent.$parent.form.initiatorEmail' placeholder='your email' type='email' required />),
                                </span>  
                                
                                <span ng-switch='currentOption.name'>
                                    <span ng-switch-when='payment'>
                                        owe 
                                        <span class='p-key-item-group'>
                                            <!--<span class='p-key-item' ng-show='form.amount'>$</span>-->
                                            <input p-input p-number='dollars' ng-trim='false' class='p-key-item' name='amount' ng-model='$parent.$parent.form.amount' placeholder='an amount' type='text' maxlength='13' required />
                                        </span> to 
                                    </span>
                                    <span ng-switch-when='product'>
                                        am borrowing 
                                        <span class='p-key-item-group'>
                                            <input p-input ng-trim='false' class='p-key-item' name='item' ng-model='$parent.$parent.form.item' placeholder='an item' type='text' required />
                                        </span> from 
                                    </span>
                                    <span ng-switch-when='service'>
                                        am agreeing to 
                                        <span class='p-key-item-group'>
                                            <input p-input ng-trim='false' class='p-key-item' name='service' ng-model='$parent.$parent.form.service' placeholder='do a service' type='text' required />
                                        </span> for 
                                    </span>
                                    <span ng-switch-when='appointment'>
                                        am agreeing to 
                                        <span class='p-key-item-group'>
                                            <input p-input ng-trim='false' class='p-key-item' name='activity' ng-model='$parent.$parent.form.activity' placeholder='do something' type='text' required />
                                        </span> with 
                                    </span>
                                </span>
                                
                                <input p-input ng-trim='false' class='p-key-item' name='recipientFirstName' ng-model='$parent.$parent.form.recipientFirstName' placeholder='their first' type='text' required />
                                <input p-input ng-trim='false' class='p-key-item' name='recipientLastName' ng-model='$parent.$parent.form.recipientLastName' placeholder='& last name' type='text' required />
                                
                                <span class='p-key-item-group'>
                                    (<input p-input ng-trim='false' class='p-key-item-light' name='recipientEmail' ng-model='$parent.$parent.form.recipientEmail' placeholder='their email' type='email' required />)
                                </span> 

                                <span ng-switch='currentOption.name'>
                                    <span ng-switch-when='payment'>
                                         and promise to pay them within 
                                    </span>
                                    <span ng-switch-when='product'>
                                         and promise to return it to them within 
                                    </span>
                                    <span ng-switch-when='service'>
                                         and promise to do so within 
                                    </span>
                                    <span ng-switch-when='appointment'>
                                         and promise to do so within 
                                    </span>
                                </span>

                                <span class='p-key-item-group'>
                                    <input p-input p-number p-not-zero ng-trim='false' class='p-key-item' name='dueDaysFromNow' ng-model='$parent.$parent.form.dueDaysFromNow' placeholder='#' type='text' maxlength='3' required /> {{ form.dueDaysFromNow|pluralizeDays }}.
                                </span>
                                <br /><br />

                                <span ng-bind='error' class='text-neutral'></span>

                                <br/>
                                <input name='submit' id='submit' class='cta btn btn-default btn-lg' type='submit' value='Submit' p-validate-form-requirements />
                            </form>
                        </div>
                    </div>

                </div><!-- /#main -->
            </div>


            <div id="aside" class="bg-grey set-right "></div><!-- /#aside -->

        </div><!-- /#content -->   

        <div id="footer"></div><!-- /#footer -->
<%= include indexFooter %>