/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_7ebd45048ccc3c4bdd90ca7da686b8d9.eot");
  src: url("fontcustom_7ebd45048ccc3c4bdd90ca7da686b8d9.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_7ebd45048ccc3c4bdd90ca7da686b8d9.woff") format("woff"),
       url("fontcustom_7ebd45048ccc3c4bdd90ca7da686b8d9.ttf") format("truetype"),
       url("fontcustom_7ebd45048ccc3c4bdd90ca7da686b8d9.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-banknote:before,
.icon-bubble:before,
.icon-bulb:before,
.icon-calendar:before,
.icon-camera:before,
.icon-clip:before,
.icon-clock:before,
.icon-cloud:before,
.icon-cup:before,
.icon-data:before,
.icon-diamond:before,
.icon-display:before,
.icon-eye:before,
.icon-fire:before,
.icon-food:before,
.icon-heart:before,
.icon-key:before,
.icon-lab:before,
.icon-like:before,
.icon-location:before,
.icon-lock:before,
.icon-mail:before,
.icon-megaphone:before,
.icon-music:before,
.icon-news:before,
.icon-note:before,
.icon-paperplane:before,
.icon-params:before,
.icon-pen:before,
.icon-phone:before,
.icon-photo:before,
.icon-search:before,
.icon-settings:before,
.icon-shop:before,
.icon-sound:before,
.icon-stack:before,
.icon-star:before,
.icon-study:before,
.icon-t-shirt:before,
.icon-tag:before,
.icon-trash:before,
.icon-truck:before,
.icon-tv:before,
.icon-user:before,
.icon-vallet:before,
.icon-video:before,
.icon-vynil:before,
.icon-world:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-banknote:before { content: "\f100"; }
.icon-bubble:before { content: "\f101"; }
.icon-bulb:before { content: "\f102"; }
.icon-calendar:before { content: "\f103"; }
.icon-camera:before { content: "\f104"; }
.icon-clip:before { content: "\f105"; }
.icon-clock:before { content: "\f106"; }
.icon-cloud:before { content: "\f107"; }
.icon-cup:before { content: "\f108"; }
.icon-data:before { content: "\f109"; }
.icon-diamond:before { content: "\f10a"; }
.icon-display:before { content: "\f10b"; }
.icon-eye:before { content: "\f10c"; }
.icon-fire:before { content: "\f10d"; }
.icon-food:before { content: "\f10e"; }
.icon-heart:before { content: "\f10f"; }
.icon-key:before { content: "\f110"; }
.icon-lab:before { content: "\f111"; }
.icon-like:before { content: "\f112"; }
.icon-location:before { content: "\f113"; }
.icon-lock:before { content: "\f114"; }
.icon-mail:before { content: "\f115"; }
.icon-megaphone:before { content: "\f116"; }
.icon-music:before { content: "\f117"; }
.icon-news:before { content: "\f118"; }
.icon-note:before { content: "\f119"; }
.icon-paperplane:before { content: "\f11a"; }
.icon-params:before { content: "\f11b"; }
.icon-pen:before { content: "\f11c"; }
.icon-phone:before { content: "\f11d"; }
.icon-photo:before { content: "\f11e"; }
.icon-search:before { content: "\f11f"; }
.icon-settings:before { content: "\f120"; }
.icon-shop:before { content: "\f121"; }
.icon-sound:before { content: "\f122"; }
.icon-stack:before { content: "\f123"; }
.icon-star:before { content: "\f124"; }
.icon-study:before { content: "\f125"; }
.icon-t-shirt:before { content: "\f126"; }
.icon-tag:before { content: "\f127"; }
.icon-trash:before { content: "\f128"; }
.icon-truck:before { content: "\f129"; }
.icon-tv:before { content: "\f12a"; }
.icon-user:before { content: "\f12b"; }
.icon-vallet:before { content: "\f12c"; }
.icon-video:before { content: "\f12d"; }
.icon-vynil:before { content: "\f12e"; }
.icon-world:before { content: "\f12f"; }
